{{- $fullName := include "kubernetes.fullname" . -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ $fullName }}-admin"
  labels:
    app: "{{ $fullName }}-admin"
spec:
  replicas: {{ .Values.admin.replicaCount }}
  selector:
    matchLabels:
      app: "{{ $fullName }}-admin"
  template:
    metadata:
      labels:
        app: "{{ $fullName }}-admin"
    spec:
      {{- with .Values.admin.image.PullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 10 }}
      {{- end }}
      automountServiceAccountToken: false
      terminationGracePeriodSeconds: 5
      containers:
      - command: [ 'sleep', 'infinity' ]
        image: {{ .Values.admin.image.repository }}:{{ .Values.admin.image.tag }}
        imagePullPolicy: {{ .Values.admin.image.PullPolicy }}
        name: admin
        livenessProbe:
          exec:
            command:
            - kubectl
            - auth
            - can-i
            - '*'
            - '*'
          initialDelaySeconds: 15
          periodSeconds: 5
        resources:
          {{- toYaml .Values.admin.resources | nindent 10 }}
        env:
        - name: KUBECONFIG
          value: "/etc/kubernetes/admin.conf"
        - name: FULL_NAME
          value: "{{ $fullName }}"
        volumeMounts:
        - mountPath: /etc/kubernetes/
          name: kubeconfig
          readOnly: true
      volumes:
      - secret:
          secretName: "{{ $fullName }}-admin-conf"
        name: kubeconfig
